$wilderness: #3c3c3c;
$mint: #55d4ae;
$scarlet: #a52922;
$sere: #eff4f3;
// $sere: #cdd3d2;
$tokidoki: #cdd3d2;
$mymy: #fd2a68;
$jeans: #3c3e5d;

.bg-scarlet {
  background-color: $scarlet;
}
.wilderness {
  color: $wilderness;
}

.bg-wilderness {
  background-color: $wilderness;
  color: white;
}
