$wilderness: #3c3c3c;
$mint: #55d4ae;
$scarlet: #f73e5d;
$sere: #eff4f3;
// $sere: #cdd3d2;
$tokidoki: #cdd3d2;
$mymy: #fd2a68;

.wilderness {
  color: $wilderness;
}

.bg-wilderness {
  background-color: $wilderness;
}
